@use 'base' as *;
.footer {
    padding: 30px;  
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image-container{
        margin-bottom: 20px;
    }

    &__copyright{
        font-family: $font-secondary;
        font-size: .8rem;
        text-align: center;
        color: $color-white;
    }
}