// Tamaño de Media Queries
$small: 480px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

//Fuentes
$font-primary :"Open Sans", sans-serif;
$font-secondary :Montserrat, sans-serif;
$font-terciary :'arial';

//Colores
$color-primary : #f5ab35;
$color-secondary :#707070;
$color-terciary :#8D9EFF;
$color-temporal :#B9E0FF;

$color-black: #000;
$color-white: #fff;

$error : hsl(0, 100%, 68%);
$info : hsl(59, 100%, 74%);

//Sizes